.container {
  max-width: 1152px;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .headerImage {
    width: 6rem;
    height: 6rem;
  }
  
  .headerHomeImage {
    width: 8rem;
    height: 8rem;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }